@charset "utf-8";

$ver: "1.3.0";

@if $env != 'production' {
  $hostname: "http://s.wormpex.com" !global;
} @else {
  $hostname: "https://s.blibee.com" !global;
}

@font-face {
  font-family: "bach-erp";
  src: "#{$hostname}/res/bach-erp/font/#{$ver}/bach-erp.eot";
  src: url('#{$hostname}/res/bach-erp/font/#{$ver}/bach-erp.eot?#iefix') format('embedded-opentype'),
       url('#{$hostname}/res/bach-erp/font/#{$ver}/bach-erp.woff') format('woff'),
       url('#{$hostname}/res/bach-erp/font/#{$ver}/bach-erp.ttf') format('truetype'),
       url('#{$hostname}/res/bach-erp/font/#{$ver}/bach-erp.svg#bach-erp') format('svg');
}

::selection {
  background: #ADD3FE;
  color: #4A4A4A;
}

#app {
  height: 100%;
}

/* 链接 */
a {
  font-size: $text-small;
  &:hover {
    color: none;
    text-decoration: underline;
  }
  &:focus:not(:hover) {
    text-decoration: none;
  }
}

.left {
  display: inline;
  float: left;
}
.right {
  display: inline;
  float: right;
}

.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
