@charset "utf-8";

///
// @file 颜色
///

.primary-color {
  color: $primary-color;
}
.red {
  color: $red;
}
.orange {
  color: $orange;
}
.green {
  color: $green;
}
.blue {
  color: $blue;
}
.grey {
  color: $text-color-3;
}
