@charset "utf-8";

///
// @file 颜色
///

.margin-left-small {
  margin-left: $spacing-small;
}
.margin-left-middle {
  margin-left: $spacing-middle;
}
.margin-left-large {
  margin-left: $spacing-large;
}
.margin-bottom-small {
  margin-bottom: $spacing-small;
}
.margin-bottom-middle {
  margin-bottom: $spacing-middle;
}
.margin-bottom-large {
  margin-bottom: $spacing-large;
}
