@charset "utf-8";

///
// @file 颜色
///

.title-large {
  font-size: $text-large;
  font-weight: bold;
}
.title-middle {
  font-size: $text-middle;
  font-weight: bold;
}
.title-small {
  font-size: $text-small;
  font-weight: bold;
}
