
// 生成指定区间范围列表
//
// @param {Number} $min [0] - 区间最小值
// @param {Number} $max [1] - 区间最大值
// @param {Number} $step [1] - 步长
//
// @return {List} 指定区间范围列表
@function list-range($min: 0, $max: 1, $step: 1) {
    $_return: ();
    $_item: $min;

    @while $_item <= $max {
      $_return: append($_return, $_item, comma);
      $_item: $_item + $step;
    }

    @return $_return;
}

// 合并多个列表
//
// @param {List} $list - 要合并的列表
//
// @return {List} 合并后的列表
@function list-merge($list...) {
    $_return: ();

    @each $_item in $list {
        $_return: join($_return, $_item);
    }

    @return $_return;
}
